<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Document</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
        
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="style/custom.css">    
    
    
    <!-- Include your CSS here -->
</head>
<body ng-app="myApp">
    
    <!-- Add your site or application content here -->
    <div class="container" ng-controller="myCtrl">
        <div class="row">
            <div class="col-md-3">
                <div class="row form-group">
                    <select ng-options="partner.name for partner in cData.partners" ng-model="cData.selectInput" ng-change="cData.searchInput = ''"></select>
                </div>                
                <div class="row form-group">
                    <input type="text" class="form-control" ng-model="cData.searchInput" placeholder="Filter products" />
                </div>                
                <div class="row">
                    <ul class="list-unstyled">
                        <li ng-repeat="product in cData.products | filter:cData.searchInput | filter:productFilter"><a ng-click="displayProductDetails(product)">{{product.name}}</a></li>
                    </ul>                    
                </div>
            </div>
            <div ng-if="cData.numberOfApiCallsInProgress > 0">
                Loading...
            </div>     
            <div class="col-md-8 col-md-offset-1">
                <h1>Product Detail</h1>                
                <div class="row" ng-if="cData.selectedProduct">                    
                    <div class="col-md-4 img-container">
                        <img ng-src="{{cData.selectedProduct.imgPath}}" class="img-responsive" />
                    </div>
                    <div class="col-md-8">
                        <h3>{{cData.selectedProduct.name}}</h3>
                        <p>{{cData.selectedProduct.description}}</p>
                        <p class="text-warning" ng-if="cData.selectedProduct.requiresProductId">This product requires {{getRequiredProductName(cData.selectedProduct)}}</p>
                        <div>
                            <a class="btn btn-danger" ng-click="clearSelectedProduct()">Cancel</a>
                            <a class="btn btn-primary" ng-click="buyProduct(cData.selectedProduct)">Buy Product</a>
                        </div>
                    </div>                    
                </div>
            </div>
        </div>              

    </div>
 
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.2/angular.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap-tpls.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap.min.js"></script>
    <script src="script/app.js"></script>
    <script src="script/controller/controller.js"></script>
    <script src="script/service/helperService.js"></script>
    <script src="script/service/myApisService.js"></script>
    
</body>
</html>